In [263]:
import pandas as pd
import numpy as np
from math import sqrt
import sqlite3
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
import pickle
from datetime import datetime,timedelta
from pandas import Series, DataFrame
def convert(s):
    return datetime.strptime(s, '%Y-%m-%d').date()
features = pd.read_sql("SELECT * FROM 'features'", con, index_col=None)
conn = sqlite3.connect('./paddingmovies2.db')
c = conn.cursor()
start_date = '2015-01-07'
end_date = '2018-06-30'
features_20150101_20180630 = features[features['open'] >= start_date]
features_20150101_20180630 = features_20150101_20180630[features['open'] <= end_date]

C:\Users\gudrb\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [264]:
j=0
for rows in features_20150101_20180630.iterrows():
    tmp = pd.read_sql("SELECT * FROM "+ "'" +rows[1][1]+ "'", con, index_col=None)
    tmp.drop_duplicates(['date'], inplace=True)
    
    now = convert(rows[1][3])
    L=[]
    L=pd.date_range(start = now - timedelta(days=23),end= now + timedelta(days=23))

    df = pd.DataFrame(index=range(47))
    df[:]="0"
    df['date']=L.strftime("%Y-%m-%d")
    df.set_index(df['date'], inplace=True)
    
    tmp.set_index(tmp['date'], inplace=True)
    tmp=tmp[tmp['date']<(convert(rows[1][3])+ timedelta(days=24)).strftime("%Y-%m-%d")]
    tmp=tmp[tmp['date']>(convert(rows[1][3])- timedelta(days=24)).strftime("%Y-%m-%d")]
    
    df_merged = pd.merge(df,tmp, how="outer")
    df_merged.isnull()
    # df_merged
    
    df_merged[df_merged.isnull()] = 0
    df_merged=np.array(df_merged)
    
    var_string = ', '.join('?' * 3)
    
    c.execute("CREATE TABLE"+"'p" +str(j)+ "'"+"(date TEXT, audience TEXT, play TEXT)")

    query_string = 'INSERT INTO'+"'p" +str(j)+ "'"+' VALUES (%s);' % var_string

    c.executemany(query_string,df_merged)
    j =j+1
conn.commit()

[['2014-12-15' '0' '0']
 ['2014-12-16' '0' '0']
 ['2014-12-17' '0' '0']
 ['2014-12-18' '0' '0']
 ['2014-12-19' '0' '0']
 ['2014-12-20' '0' '0']
 ['2014-12-21' '0' '0']
 ['2014-12-22' '0' '0']
 ['2014-12-23' '0' '0']
 ['2014-12-24' '0' '0']
 ['2014-12-25' '0' '0']
 ['2014-12-26' '0' '0']
 ['2014-12-27' '0' '0']
 ['2014-12-28' '0' '0']
 ['2014-12-29' '0' '0']
 ['2014-12-30' '0' '0']
 ['2014-12-31' '0' '0']
 ['2015-01-01' '0' '0']
 ['2015-01-02' '0' '0']
 ['2015-01-03' '0' '0']
 ['2015-01-04' '0' '0']
 ['2015-01-05' '0' '0']
 ['2015-01-06' '0' '0']
 ['2015-01-07' '26,707' '1,489']
 ['2015-01-08' '27,819' '1,499']
 ['2015-01-09' '30,753' '1,492']
 ['2015-01-10' '61,844' '1,411']
 ['2015-01-11' '55,198' '1,336']
 ['2015-01-12' '18,429' '1,324']
 ['2015-01-13' '17,773' '1,306']
 ['2015-01-14' '2,396' '158']
 ['2015-01-15' '1,951' '135']
 ['2015-01-16' '2,343' '137']
 ['2015-01-17' '3,507' '106']
 ['2015-01-18' '3,097' '101']
 ['2015-01-19' '1,378' '118']
 ['2015-01-20' '1,498' '114']
 ['2015-01-21' '136' '9']
 ['2015-01-22' '77' '5']
 ['2015-01-23' '89' '4']
 ['2015-01-24' '112' '4']
 ['2015-01-25' '126' '4']
 ['2015-01-26' '51' '5']
 ['2015-01-27' '54' '6']
 ['2015-01-28' '59' '1']
 ['2015-01-29' '80' '1']
 ['2015-01-30' '75' '1']]

OperationalError: table 'p0' already exists

In [246]:
# c.execute('DROP TABLE pj')

In [ ]:
import sqlite3

conn = sqlite3.connect('./movies3.db')
c = conn.cursor()

In [233]:
# array2d = [['?' for x in range(4)] for x in range(47)] 



# # var_string = ', '.join('?' * len(array2d))
# var_string = ', '.join('?' * 3)
#열 갯수 결정
# # var_string=array2d
# c.execute("CREATE TABLE"+"'" +j+ "'"+"(date TEXT, audience TEXT, play TEXT)")

# query_string = 'INSERT INTO'+"'" +j+ "'"+' VALUES (%s);' % var_string

# c.executemany(query_string,df_merged)
# conn.commit()