In [251]:
import pandas as pd
import numpy as np
from math import sqrt
import sqlite3
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
import pickle
from datetime import datetime,timedelta
from pandas import Series, DataFrame
def convert(s):
    return datetime.strptime(s, '%Y-%m-%d').date()
features = pd.read_sql("SELECT * FROM 'features'", con, index_col=None)
conn = sqlite3.connect('./movies2.db')
c = conn.cursor()

In [252]:
j=0
for rows in features.iterrows():
    tmp = pd.read_sql("SELECT * FROM "+ "'" +rows[1][1]+ "'", con, index_col=None)
    now = convert(rows[1][3])
    L=[]
    L=pd.date_range(start = now - timedelta(days=23),end= now + timedelta(days=23))

    df = pd.DataFrame(index=range(47))
    df[:]="0"
    df['date']=L.strftime("%Y-%m-%d")
    df.set_index(df['date'], inplace=True)


    tmp.set_index(tmp['date'], inplace=True)
    tmp=tmp[tmp['date']<(convert(rows[1][3])+ timedelta(days=24)).strftime("%Y-%m-%d")]

    df_merged = pd.merge(df,tmp, how="outer")
    df_merged.isnull()
    # df_merged
    
    df_merged[df_merged.isnull()] = 0
    df_merged=np.array(df_merged)
    
    var_string = ', '.join('?' * 3)
    # var_string=array2d
    c.execute("CREATE TABLE"+"'p" +str(j)+ "'"+"(date TEXT, audience TEXT, play TEXT)")

    query_string = 'INSERT INTO'+"'p" +str(j)+ "'"+' VALUES (%s);' % var_string

    c.executemany(query_string,df_merged)
    j =j+1
conn.commit()

In [246]:
# c.execute('DROP TABLE pj')

In [ ]:
import sqlite3

conn = sqlite3.connect('./movies3.db')
c = conn.cursor()

In [233]:
# array2d = [['?' for x in range(4)] for x in range(47)] 



# # var_string = ', '.join('?' * len(array2d))
# var_string = ', '.join('?' * 3)
#열 갯수 결정
# # var_string=array2d
# c.execute("CREATE TABLE"+"'" +j+ "'"+"(date TEXT, audience TEXT, play TEXT)")

# query_string = 'INSERT INTO'+"'" +j+ "'"+' VALUES (%s);' % var_string

# c.executemany(query_string,df_merged)
# conn.commit()